* {
    font-family: sans-serif;
    font-size: 18px;
}
body {
    background-color: #eaeaea;
}

.popUpForm {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 3px solid #000;
    width: 90%;
    margin: 5vh 0;
    max-height: 95vh;
    overflow-y: scroll;

}

.popUpForm-content {
    text-align: center;
}

/* Not actually close-btn this is the div containing close btn */
.close-btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    width: 100%;
    height: fit-content;
    vertical-align: center;
}

.close-btn label {
    margin: 0;
}

#closepopUp {
    cursor: pointer;
    font-size: 1.5rem;
}

#closepopUp:hover {
    transform: scale(2);
    color: #ff0000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#form-context {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
}
#pg-cont {
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.section {
    background-color: #fff;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 5px;
    box-shadow: #f2f2f2 5px;
}

.operation-btn {
    padding: 5px 15px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.operation-btn:hover {
    transform: scale(1.05); /* Scale button on hover */
}

input[type=text], input[type=time] {
    font-size: 16px;
}

select {
    margin: 2px 5px;
    padding: 3px;

    font-size: 16px;

    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 5px;
    /* Add rounded corners */
    text-align: center;
    text-overflow: ellipsis;
}

/* Style the select element when it's focused (clicked or tabbed into) */
select:focus {
    border-color: #007BFF;
    /* Change border color on focus */
}
/* Style the select element */
#mode-select {
    padding: 2px 4px; /* Add some padding for spacing */
    font-size: 16px; /* Adjust font size */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add rounded corners */
    background-color: #fff; /* Set background color */
    color: #333; /* Set text color */ /* Make it 100% width */
  }
  
  /* Style the #mode-select element when it's hovered */
  #mode-select:hover {
    border-color: #555; /* Change border color on hover */
  }
  
  /* Style the #mode-select element when it's focused */
  #mode-select:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change border color when focused */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.6); /* Add a subtle box shadow */
  }
  
  /* Style the #mode-select arrow (dropdown icon) */
  #mode-select::-ms-expand {
    display: none; /* Remove the default arrow in IE/Edge */
  }
  
  /* Style the #mode-select arrow (dropdown icon) for other browsers */
  #mode-select::after {
    content: '\25BC'; /* Use a downward-pointing triangle or your preferred icon */
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the position as needed */
    transform: translateY(-50%);
    color: #555; /* Set arrow color */
    pointer-events: none; /* Make it non-clickable */
  }
  
textarea {
    resize: none;
    font-size: small;
}

label {
    margin: 3px 3px;
    font-weight: bold;
    width: fit-content;
}
.header-label-cont {
    width: fit-content;
    white-space: nowrap;
    margin: 10px auto;
    padding: 5px;
    
}
.header-label {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}


/* Stock change reason popup */
.oper-btn {
    background-color: #fff;
    /* Background color */
    color: #000;
    /* Text color */
    border: 2px solid #000000;
    /* Border with white color */
    border-radius: 25px;
    /* Rounded corners */
    padding: 5px 10px;
    /* Padding for the button */
    cursor: pointer;
    /* Show hand cursor on hover */
    transition: transform 0.3s ease-in;
    /* Smooth scaling transition */
    margin: 5px 0;
}

#form-context .select-element stock-change-reason-select {
    padding: 10px 5px;
    font-size: 16px;
}

#form-context .record_btn {
    background-color: #0dbe4e;
    color: #ffffff;
}

#form-context .center-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}


#form-context .center-elements{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}

#form-context .label-element-cont-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#form-context .label-element-cont-center .info-label{
   width: 100%;
   text-align: center;
   margin: 0;
}

#form-context #stock-change-reason-input{
    flex: 1;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
}
/* End Stock change reason popup */
/* Top section */
.full-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    margin: 10px 0;
    padding: 5px;
    vertical-align: middle;
}
#new-object-btn {
    background-color: #2eac5e;
}
#new-object-btn:hover {
    background-color: #007e26;
}
#top-filter-table-cont {
    max-height: 400px; 
    overflow: scroll; 
    border: 1px solid #ccc; 
    position: relative; 
    }
   
    
   .object-table {
    width: 100%; 
    border-collapse: collapse; 
    table-layout: fixed;
    }
   
    .object-table th:nth-child(1) {
        width: 6ch; /* Adjust the width as needed for each column */
    }
   .object-table thead {
    background-color: #f2f2f2; 
    position: sticky;
    top: 0;
    z-index: 1; 
    text-align: center;
    }
   
    
   .object-table tbody {
    
    max-height: 250px; 
    overflow-y: auto; 
    }
   
    
   .object-table td, .object-table th {
    padding: 10px;
    border: 1px solid #ccc;
    }
   
    
   .table-container {
    margin: 0;
    padding: 0;
    }
   
    
   .objItm:hover {
    background-color: #f2f2f2; 
    cursor: pointer; 
   }

   .object-table tbody tr td:nth-child(1) {
    text-align: center;
   }
   .mc-item-name-cont{
    white-space: nowrap;
    overflow-x: scroll;
   }
   .object-table tbody tr td:nth-child(3) {
    font-size: 16px;
   }
   
   
   .floating-text {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 100;
    }
  
/* End Top Section */

/* Middle Section */
#mid-section-div {
    display: flex;
    flex-direction: column;
    gap:20px;
}
#operation-input-field-cont{
    display: flex;
    flex-direction: column;
    gap:30px

}
.total-input-group-cont {
    display: flex;
    flex-direction: row;
}
.input-group-cont {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.long-text-group-cont {
    width: 75%;
}
.short-text-group-cont{
    width: 25%;
    overflow:hidden;
}
.input-cont{
display: flex;
flex-direction: column;
gap: 3px;
padding: 0 10px;
}
.input-cont input, .input-cont select,.text-field-input {
    margin-left: 2%;
}
.text-field-input {
    padding: 5px;
    width: 80%;
}

.select-field-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px; /* Rounds the select element */
    font-size: 16px;
    appearance: none; /* Remove default arrow in modern browsers */
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Style for select elements on focus */
.select-field-input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline on focus */
}

#object-status {
    background-color: #fff;
}

/* Style for 'active' option */
#object-status.active {
    background-color: #d1ffd1; /* Green */
}

/* Style for 'inactive' option */
#object-status.inactive {
    background-color: #ffdcdc; /* Red */
}

/* Style for 'down' option */
#object-status.down {
    background-color: #fff5b9; /* Blue */
}


/* Style for text inputs */
.text-field-input[type=text] {
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px; /* Rounds the input */
    font-size: 16px;
}

.number-input {
    width: 80px; /* Adjust width as needed for two digits */
    padding: 5px;
    border: 2px solid #000000; /* Red border to indicate a number input */
    border-radius: 3px;
    font-size: 16px;
    text-align: center; 
}


.operation-button-group-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}


#update-btn {
    background-color: #007bff;
}
#cancel-btn {
    background-color: #ff2d2d
}
#update-btn:hover {
    background-color: #0056b3;
}
#cancel-btn:hover {
    background-color: #b01616;
}


/* Part Input Customization */

#object-unit{
    width: 35%;
}

/* End Part Input */


/* End Middle Section */

/* Style for the container */


